@model IEnumerable<otrsCodes.Models.BaseTable>
@Html.DropDownList("Id", ViewBag.CountryId as SelectList, "--select country--", new { id = "ddlCountries", @class = "form-control form-control-sm" })
@Html.Hidden("CountryIdSaver", "TEST")

<div class="row">
    <div class="col-lg-6 col-md-9 col-sm-12">
        <table id="tb1" class="table  table-condensed table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">R</th>
                    <th scope="col">AB</th>
                    <th scope="col">0</th>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                    <th scope="col">6</th>
                    <th scope="col">7</th>
                    <th scope="col">8</th>
                    <th scope="col">9</th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 50; i++)
                {
                    <tr>
                        <th scope="row">@Model.ElementAt(i).R</th>
                        <th scope="row">@Model.ElementAt(i).AB </th>
                        <td>@Model.ElementAt(i).a</td>
                        <td>@Model.ElementAt(i).b</td>
                        <td>@Model.ElementAt(i).c</td>
                        <td>@Model.ElementAt(i).d</td>
                        <td>@Model.ElementAt(i).e</td>
                        <td>@Model.ElementAt(i).f</td>
                        <td>@Model.ElementAt(i).g</td>
                        <td>@Model.ElementAt(i).h</td>
                        <td>@Model.ElementAt(i).k</td>
                        <td>@Model.ElementAt(i).l</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-6 col-md-9 col-sm-12">
        <table class="table  table-condensed table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">R</th>
                    <th scope="col">AB</th>
                    <th scope="col">0</th>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                    <th scope="col">6</th>
                    <th scope="col">7</th>
                    <th scope="col">8</th>
                    <th scope="col">9</th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 50; i < 100; i++)
                {
                    <tr>
                        <th scope="row">@Model.ElementAt(i).R</th>
                        <th scope="row">@Model.ElementAt(i).AB </th>
                        <td>@Model.ElementAt(i).a</td>
                        <td>@Model.ElementAt(i).b</td>
                        <td>@Model.ElementAt(i).c</td>
                        <td>@Model.ElementAt(i).d</td>
                        <td>@Model.ElementAt(i).e</td>
                        <td>@Model.ElementAt(i).f</td>
                        <td>@Model.ElementAt(i).g</td>
                        <td>@Model.ElementAt(i).h</td>
                        <td>@Model.ElementAt(i).k</td>
                        <td>@Model.ElementAt(i).l</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="myResultContent"></div>