@model IEnumerable<otrsCodes.Models.BaseTable>
@Html.DropDownList("Id", ViewBag.CountryId as SelectList, "--select country--", new { id = "ddlCountries", @class = "form-control form-control-sm" })

<div class="row">
    <div class="col-lg-6 col-md-9 col-sm-12">
        <table id="tb1" class="table  table-condensed table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">R</th>
                    <th scope="col">AB</th>
                    <th scope="col">0</th>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                    <th scope="col">6</th>
                    <th scope="col">7</th>
                    <th scope="col">8</th>
                    <th scope="col">9</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <th scope="row">@item.R</th>
                    <th scope="row">@item.AB </th>
                    <td>@item.a</td>
                    <td>@item.b</td>
                    <td>@item.c</td>
                    <td>@item.d</td>
                    <td>@item.e</td>
                    <td>@item.f</td>
                    <td>@item.g</td>
                    <td>@item.h</td>
                    <td>@item.k</td>
                    <td>@item.l</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-6 col-md-9 col-sm-12">
        <table class="table  table-condensed table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">R</th>
                    <th scope="col">AB</th>
                    <th scope="col">0</th>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                    <th scope="col">6</th>
                    <th scope="col">7</th>
                    <th scope="col">8</th>
                    <th scope="col">9</th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 50; i < 100; i++)
                {
                    <tr>
                        <td>1</td>
                        <th scope="row">
                            @i
                        </th>
                        <td>@(i * 0)</td>
                        <td>@(i * 1)</td>
                        <td>@(i * 2)</td>
                        <td>@(i * 3)</td>
                        <td>@(i * 4)</td>
                        <td>@(i * 5)</td>
                        <td>@(i * 6)</td>
                        <td>@(i * 7)</td>
                        <td>@(i * 8)</td>
                        <td>@(i * 9)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="myResultContent"></div>