<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - OTRS Codes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Html.Hidden("FLAG")
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
        <div class="form-group">
            <div class="col-md-offset-2">
                <input id="Logs" type="text" readonly="readonly" class="form-control  form-control-sm" placeholder="Logs">
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/My")
    @RenderSection("scripts", required: false)
</body>

</html>
